[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.13.1"
django = "==4.1"
psycopg2-binary = "==2.9.3"

[dev-packages]

[requires]
python_version = "3.9"
